.dropdown__container {
    position: relative;
    z-index: 11;
}

.dropdown__items {
    position: absolute;
    padding: 9px 0;
    background-color: #212325;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.dropdown__items .button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px 33px 10px 19px;
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.dropdown__items .button .button__icon {
    width: 18px;
    height: 16px;
    justify-content: center;
}

.dropdown__items .button .button__icon svg {
    height: 16px;
    max-width: 18px;
    transition: all 0.2s;
    fill: rgba(255, 255, 255, 0.5);
}

.dropdown__items .button .button__icon + span{
    margin-left: 11px;
}

.dropdown__items .button:hover {
    background-color: #303133;
}

.dropdown__items .button:hover .button__icon svg {
    fill: #ff2828;
}

.dropdown__items .button:active {
    transition: all 0.2s;
    background-color: #282a2c;
}

.dropdown-enter-active,
.dropdown-leave-active {
    transition: all 0.1s;
}

.dropdown-enter,
.dropdown-leave-to {
    opacity: 0;
    transform: translate(-10px, -5px) scale(0.75);
}