.password-popup .popup__container {
    max-width: 600px;
    padding-bottom: 50px;
}

.password-popup__form > * + * {
    margin-top: 20px;
}

.popup__content section + section.password-popup__bottom,
.password-popup__bottom {
    margin-top: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.password-popup__bottom > * + * {
    margin-left: 20px;
}

@media only screen and (max-height: 500px) {
    .password-popup .popup__container {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .password-popup .popup__container {
        padding-bottom: 35px;
    }
}